.patBox{
    margin-left: 2%;
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 1px;
    padding-top: 15px;
}

.nextApt {
    margin-left: 16rem;
    margin-bottom: 3rem;
    border-bottom: 1px  solid #162938;
}
.info-card-pat-profile{
    width: 82%;
    margin-left: 16%;
    margin-top: 1%;
}

.title{
    margin-right: 59%;
    margin-top: 2%;

}

