.info-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    margin-left: 15%;
    margin-top: 5%;
    
}

.avatar {  
    padding: 100px;
    overflow: hidden;
}

.avatar img {
    height: 200px;
    width: 200px;
    flex: 1;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.info-text {
    background-color:darkslateblue;
    height: 300px;
    width: 600px;
    color: aliceblue;
    text-align: left;
    padding: 30px;
    font-size: large;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: end;
    justify-content: center;
    margin-left: 15%;
    margin-right: 5%;
}

.buttons Button {
    border-radius: 10px;
    flex: 1;
    background-color: cornflowerblue;
    font-size: medium;
    align-content: space-around;
}

.uploadedFileInfo {
    font-size: small;
    width: 400px;
}

.uploadFileInput {
    height: 50px;
}

.uploadButton {
    display: flex;
    flex-direction: column;
    padding: 10px;
}