/* Navbar.css */
.navbar-left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #333; /* Example background color */
    padding: 60px; /* Add padding or styling as needed */
  }
  
  .navbar-left ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar-left li {
    margin-bottom: 10px;
  }
  
  .navbar-left a {
    color: #fff;
    text-decoration: none;
  }
  