.patientAptCard {
    width: 36rem;

}
.card-text {
    justify-content: start;
}
.nextApt {
    margin-left: 16rem;
    margin-bottom: 3rem;
    border-bottom: 1px  solid #162938;
}
.aptBox{
    margin-left: 34%;
    width: 50%;
    height: 575px;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    background-color: #F9F6EE;
    text-transform: capitalize;
}

.aptBox .list-container {
    width: 98%;
    overflow-y: auto;
    height: 525px;
    margin-left: 10px;
}