.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    justify-content: center;
    background: #D1E8E2;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height:100vh;
}

.nextApt {
    margin-left: 16rem;
    margin-bottom: 3rem;
    border-bottom: 1px  solid #162938;
}

.times {
   font: 200;
   width: 300px;
   margin-top: 0;
}

.times Button {
    color:steelblue;
    background-color: beige;
    height: 48px;
    width: 200px;
    box-shadow:none;
    padding: 5px;
}
.times Button:hover{
    background-color: rgb(17, 16, 16);
}

.timeSlot{
    margin-bottom: 14px;
    float: left;
    font-size: large;
    
}
.timeSlot input[type = "radio"]{
    margin-right: 9px;
}

.calendar  {
    width: 600px;
    height: 400px;
    margin-left: 20%;
    float: right;
}

.row{
    margin-top: 10%;
}

.aptButton Button{
    margin-top: 10em;
    width: 200px;
    height: 50px;
    background-color: antiquewhite;
    color: black;
}
.aptButton Button:hover{
    background-color: rgb(52, 214, 136);
}


